<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>WasherDryerBackend</display-name>

  <listener>
    <listener-class>db.AppContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>rpc.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>rpc.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>rpc.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>rpc.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeMachineStatus</servlet-name>
    <servlet-class>rpc.ChangeMachineStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllMachine</servlet-name>
    <servlet-class>rpc.GetAllMachine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendingMessageToManager</servlet-name>
    <servlet-class>rpc.SendingMessageToManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMachine</servlet-name>
    <servlet-class>rpc.AddMachine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMachinesByUserId</servlet-name>
    <servlet-class>rpc.GetMachinesByUserId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemindUser</servlet-name>
    <servlet-class>rpc.RemindUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllMachine</servlet-name>
    <url-pattern>/getAllMachines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendingMessageToManager</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMachineStatus</servlet-name>
    <url-pattern>/changeMachineStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMachine</servlet-name>
    <url-pattern>/addMachine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMachinesByUserId</servlet-name>
    <url-pattern>/getMachinesByUserId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemindUser</servlet-name>
    <url-pattern>/remindUser</url-pattern>
  </servlet-mapping>

</web-app>
